h1, h2, h3, h4{
    color: black;
    text-align: center;
}
.hverde{
    color: blueviolet;
    text-align: right;
}
#htamanho{
    font-size: x-large;
}
div{
border: 10px solid black;
argin: 10px;
padding: 30px;
background-color: gray;
}

.roda{
border: 5px;
background-color: gray;
border: 10px solid black
}

.cabecalho{
    border: 5px solid black;
    height: 100px;
    padding: 30px;
    background-color: gray;
}


.menu{
background: black;
overflow: hidden;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 2px 25px;
    display: inline-block;
}
.menu a:hover{
    background-color: white;
    color: black;
}